#profile_img {
    margin: auto;
    display: block;
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

#twitter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    /* Gray/900 */

    color: #101828;

}

.avatar_share {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px !important;
    height: 40px;
    right: 352px;
    top: 44px;
    background: #FFFFFF;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
}
.avatar_share:focus {
    box-shadow: 0px 0px 0px 4px #F2F4F7;
    border-radius: 20px;
}
.avatar_share > .shareButton{
    background: url(/src/assets/img/share.svg) no-repeat 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:20px;
    height: 20px;
    background-size:100%;
    margin-top:5px;
}
.avatar_share > .shareButton:hover{
    background: url(/src/assets/img/sharehover.svg) no-repeat 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:20px;
    height: 20px;
    background-size:100%;
    margin-top:5px;
}

@media (max-width: 575.98px) {
    .avatar_share {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 22px;
        top: 44px;
        background: #FFFFFF;
        border: 1px dashed #D0D5DD;
        border-radius: 20px;
    }
    .avatar_share > .shareButton{
        background: url(/src/assets/img/moredefualt.svg) no-repeat 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width:20px;
        height: 20px;
        background-size:100%;
        margin-top:20px;
    }
    .avatar_share > .shareButton:hover{
        background: url(/src/assets/img/moremobile.svg) no-repeat 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width:20px;
        height: 20px;
        background-size:100%;
        margin-top:20px;
    }
}
.avatar_share:hover {
    cursor: pointer;
    
}


