#profile_img {
    margin: auto;
    display: block;
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

#twitter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    /* Gray/900 */

    color: #101828;

}

.avatar_share {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px !important;
    height: 40px;
    right: 352px;
    top: 44px;
    background: #FFFFFF;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
}

@media (max-width: 575.98px) {
    .avatar_share {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 22px;
        top: 44px;
        background: #FFFFFF;
        border: 1px dashed #D0D5DD;
        border-radius: 20px;
    }
}
.avatar_share:hover {
    cursor: pointer;
}


